@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-feature-settings:
    "liga" 1,
    "calt" 1,
    "cv01",
    "cv03",
    "cv04",
    "cv06",
    "cv09",
    "cv11",
    "ss08";
}

@layer base {
  a {
    @apply transition-colors hover:text-accent-500;
  }

  p,
  li {
    @apply text-base-400;
  }

  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  button {
    @apply select-none;
  }
}

@layer utilities {
  .btn {
    @apply w-fit select-none rounded-md bg-base-800 px-4 py-2 font-medium transition-colors hover:bg-accent-600 hover:text-base-100;
  }
}

/* Logo animation */

[data-logo] path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  pointer-events: none;
  animation: drawPath 2s linear forwards;
  animation-delay: 500ms;
}

[data-logo] path:nth-child(2) {
  animation-delay: 1.5s;
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}
